<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <img id="profilePic" src="{{user.image}}">
      <h3><span>{{user.firstName}}</span><span>{{" " + user.lastName}} </span></h3>
      <h5>{{user.email}}</h5>
      <span ng-class="{'glyphicon-star': $index < user.rating, 'glyphicon-star-empty' : $index >= user.rating}" class="glyphicon" ng-repeat="i in stars track by $index"></span>
      <h5 ng-show="user.address">{{user.address}}</h5>
      <h5 ng-hide="user.address"> Enter an Address</h5>
    </div>
   <div class="col-sm-8">
      
    <uib-accordion close-others="oneAtATime">
    <uib-accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      <uib-accordion-heading><span class="glyphicon glyphicon-pencil"></span> {{user.firstName}}'s Reviews
      </uib-accordion-heading>
      <review ng-repeat="review in reviews"></review>
    </uib-accordion-group>
    <br>
    <uib-accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
      <uib-accordion-heading><span class="glyphicon glyphicon-list-alt"></span> {{user.firstName}}'s Order History
      </uib-accordion-heading>
      <!--here will go the order history-->    
 </uib-accordion-group>

</uib-accordion>
    </div>
  </div>
</div>

