* {
  box-sizing: border-box;
}

#quantity-selector {
  width: 100px;
}

.green {
  color: green;
}

.red {
  color: red;
}

#map {
  height: 300px;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

.searchbar {
	border-width : 0 0 5px 0;
	font-size: 50px;
	height : 60px;
	background: #fdfdfd;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'profile/profile'